<table class="table table-hover">
    <thead>
    <tr>
        <td>Index</td>
        <td>Name</td>
        <td>Category</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Status</td>
    </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let product of products; let i =index">
        <td>{{ i+1 }}</td>
        <td>{{ product.ProductName }}</td>
        <td>{{ product.Categories }}</td>
        <td>{{ product.Price| currency:"USD"}}</td>
       
        <td *ngIf="product.Quantity<=10"><span class="quantity-dot" style="background-color: red;"></span> {{ product.Quantity }}</td>
        <td *ngIf="product.Quantity>10 && product.Quantity<50"><span class="quantity-dot" style="background-color: yellow;"></span> {{ product.Quantity }}</td>
        <td *ngIf="product.Quantity>=50"><span class="quantity-dot" style="background-color: green;"></span> {{ product.Quantity }}</td>
       
        <td *ngIf="product.Status == true; else elseBlock">
      
          <i class="fa fa-check-circle-o" aria-hidden="true" style="color:limegreen; font-size:x-large" (click) ="updateStatus(product._id,product.Status)"></i>
        </td>
        <ng-template #elseBlock>
          <td>
        
            <i class="fa fa-times-circle-o" aria-hidden="true" style="color:red; font-size:x-large" (click) ="updateStatus(product._id,product.Status)"></i>
           </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
